.icon{
   position:fixed;
   bottom: 35px;
   right:30px;
   font-size: 30px;
   color:#2B2B2B;
   background-color: #D0AC6B;
   border-radius: 50%;
   padding: 10px;
   width: 65px;
   height: 65px;
   text-align: center;
   text-decoration: none;
   z-index: 100;
}

